@font-face{
	font-family: marvel;
	src: url("../fonts/marvel.ttf");
}
.hsearch {
	text-align: center;
	font-family: marvel;
	font-size: 50px
	/*color: white;*/
}

button {
    margin: 10px;
}
.marvel-view {
	padding-bottom: 20px;
	border-bottom: 2px solid black;
	border-top: 2px solid black;
}

.marvel-input,
.marvel-form,
.add-marvel {
	margin-bottom: 15px;
}

.marvel-input,
.add-marvel {
	width: 250px;
}

.marvel-form {
    text-align: center;
    /*border: 1px solid black;*/
    padding: 5px;
}

.add-marvel {
	padding-top: 5px;
	font-size: 20px;
}

input.invalid, textarea.invalid{
	border: 2px solid red;
}

input.valid, textarea.valid{
	border: 2px solid green;
}
